#Descriptive Analysis with Pandas

In [1]:
import numpy as np
import pandas as pd

##Loading dataset

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/ujoshidev/MachineLearning-py/main/Datasets/titanic.csv')
print(df.shape)
df.head()

(156, 13)

     PassengerId  Survived  Pclass  ...     Fare Cabin Embarked
0              1         0       3  ...   7.2500   NaN        S
1              2         1       1  ...  71.2833   C85        C
2              3         1       3  ...   7.9250   NaN        S
3              4         1       1  ...  53.1000  C123        S
4              5         0       3  ...   8.0500   NaN        S
..           ...       ...     ...  ...      ...   ...      ...
151          152         1       1  ...  66.6000    C2        S
152          153         0       3  ...   8.0500   NaN        S
153          154         0       3  ...  14.5000   NaN        S
154          155         0       3  ...   7.3125   NaN        S
155          156         0       1  ...  61.3792   NaN        C

[156 rows x 13 columns]

##Checking columns and Datatype

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Lname', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Lname           object
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

##What are the values?

In [7]:
df.Sex.unique()

array(['male', 'female'], dtype=object)

In [13]:
df.Cabin.nunique()

28

In [14]:
df.Sex.value_counts()

male      100
female     56
Name: Sex, dtype: int64

##Grouped Operations

In [15]:
df.groupby('Sex').Survived.mean()

Sex
female    0.714286
male      0.140000
Name: Survived, dtype: float64

The result is a series with two values (numeric survival rate) with index being the group values, female and _male. In this example we see that female survival rate was 72% while only 19% men survived the disaster.

We can also group by more than one variable. In that case we have to supply those as a list, e.g. in order to compute the survival rate by gender and passencer class (variable pclass) we can do

In [16]:
df.groupby(["Sex", "Pclass"]).Survived.mean()

Sex     Pclass
female  1         1.000000
        2         0.916667
        3         0.571429
male    1         0.142857
        2         0.166667
        3         0.131148
Name: Survived, dtype: float64

We see that passenger class was also a very important determinant of survival.

##Statistical analysis

In [17]:
df.Survived.mean()

0.34615384615384615

We see that less than 40% of passengers in this dataset survived.

In [20]:
df[df.Age < 12].Survived.mean()

0.3333333333333333

In [21]:
df[df.Age > 12].Survived.mean()

0.3185840707964602

For whatever reason, the children were more likely to survive.

**Checking for Null Values**

In [23]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Lname            0
Name             0
Sex              0
Age             30
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          125
Embarked         1
dtype: int64

In [24]:
df.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2'], dtype=object)

We can see that cabin code is typically a letter, followed by two or three digits. In several cases however there are apparently certain data entry errors, manifested by just a single letter code, or multiple codes for a single person. (Although passengers may also have booked more than one cabin.)

Assume everyone only has a single cabin. Our first task is to assign a single cabin code to each passenger. In case of multiple codes, take the frist valid code (i.e. the one in the form of letter + digits). As a first step, find the problematic codes. In most cases, these contain a space (there are also a single-letter codes which we cannot do much about). We can identify patterns in strings using str.contains(pattern). So we create the id (logical index) for problematic cases by just checking for strings that contain a space:

In [25]:
problematic = df.Cabin.str.contains(" ", na=False, regex=False)
problematic.value_counts()

False    150
True       6
Name: Cabin, dtype: int64

We can see we have 41 incorrecly filled cabin numbers.

# Cleaning and Manipulating Data